/* Deep Sapphire Blue */

.t{
color: #0055A4;
color: #FFD700;
color: #F5F5F5;
color: #800020;

}
/* Soft and Romantic: */

.t{
    color: #FFC0CB;
    color: #E6B8B8;
    color: #E6E6FA;
    color: #C0C0C0;
    
    }
    /* Modern and Minimalist: */
    .t{
        color: #708090;
        color: #FFFFFF;
        color: #000000;
        color: #B76E79;
        
        }
        /* Bold and Vibrant: */
        .t{
            color: #00A86B;
            color: #007BFF;
            color: #8A2BE2;
            color: #FFD700;
            
            }



/* Nature-Inspired: */
.t{
    color: #228B22;
    color: #8B4513;
    color: #F5DEB3;
    color: #FFBF00;
    
    }

